* { 
	margin: 0px; 
	padding: 0px; 
}

body {
	background-color: #e1edeb;
	font-size: 120%;
}

.header {
	background: #005583;;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	color: #fff;
	margin: 60px auto 0px;
	padding: 20px;
	text-align: center;
	width: 40%;
}

form, .content {
	background: #fff;
	border: 1px solid #B0C4DE;
	border-radius: 0px 0px 10px 10px;
	margin: 0px auto;
	padding: 20px;
	width: 40%;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	margin: 3px;
	text-align: left;
}

.input-group input {
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 16px;
	height: 30px;
	padding: 5px 10px;
	width: 93%;
}

#user_type {
	background: white;
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 16px;
	height: 40px;
	padding: 5px 10px;
	width: 98%;
}

/********* Button ***********/
.btn {
	background: #005583;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	padding: 10px;
}
